@{
    ViewData["Title"] = "Tools";
}

<div class="tools-wrapper width-wrapper">
    <h1>Tools</h1>

    <p class="intro">
        These are the tools of web development I have been getting very familiar with.
        I cannot wait to not only add more items to this list, but to also increase the depth
        of my knowledge within each of these areas.
    </p>

    <h2>Languages</h2>
    <div class="grid-wrapper">
        <div class="tool-div">
            <p>HTML</p>
        </div>
        <div class="tool-div">
            <p>CSS</p>
        </div>
        <div class="tool-div">
            <p>SASS</p>
        </div>
        <div class="tool-div">
            <p>Javascript</p>
        </div>
        <div class="tool-div">
            <p>C#</p>
        </div>
        <div class="tool-div">
            <p>LINQ</p>
        </div>
    </div>

    <h2>Libraries</h2>
    <div class="grid-wrapper">
        <div class="tool-div">
            <p>jQuery</p>
        </div>
    </div>

    <h2>Frameworks</h2>
    <div class="grid-wrapper">
        <div class="tool-div">
            <p>.NET Core</p>
        </div>
        <div class="tool-div">
            <p>.NET Core MVC</p>
        </div>
        <div class="tool-div">
            <p>Entity Framework Core</p>
        </div>
    </div>

    <h2>Software</h2>
    <div class="grid-wrapper">
        <div class="tool-div">
            <p>Adobe XD</p>
        </div>
        <div class="tool-div">
            <p>Visual Studio</p>
        </div>
        <div class="tool-div">
            <p>SQL Server</p>
        </div>
    </div>

</div>

