//Colors
$primary-green: #A9DAD5;
$primary-pink: #daa9ae;
$form-input-color: #d0d6d6;



$bg-color: #51617a;
$heading-color: #e9ecf2;
$text-color: #b3b6bd;
$dark-text-color: #707070;

$light-bg-color: #EFF1F1;
$green-bg-color: #A9DAD5;

$heading-font: 'Roboto Slab', serif;
$text-font: 'Raleway', sans-serif;
