@{
    ViewData["Title"] = "Projects";
}

<div class="projects-wrapper">
    <h1>My Projects</h1>

    <div class="project">
        <h2>Erika Mills Photography</h2>
        <p>
            A fully custom built website for a fantastic portrait photographer. The website includes a gallery with categorized photos, an event calendar, contact form,
            and fully custom administration functionality.
        </p>

        <p>I also plan to implement a shop for digital products on this page.</p>

        <div class="project-images-wrapper">
            <img src="~/Images/Projects/home-page.png" />
            <img src="~/Images/Projects/calendar.png" />
        </div>
    </div>
</div>

