@{
    ViewData["Title"] = "Projects";
}

<div class="projects-wrapper">
    <h1>My Projects</h1>

    <div class="project">
        <h2>Erika Mills Photography</h2>
        <p>
            A fully custom built website for a fantastic portrait photographer. The website includes a gallery with categorized photos, an event calendar, contact form,
            and fully custom administration functionality.
        </p>

        <p>I also plan to implement a shop for digital products on this site.</p>

        <div class="project-images-wrapper">
            <a href="~/Images/Projects/home-page.png" data-lightbox="site">
                <img src="~/Images/Projects/home-page.png" />
            </a>
            <a href="~/Images/Projects/calendar.png" data-lightbox="site">
                <img src="~/Images/Projects/calendar.png" />
            </a>
            <a href="~/Images/Projects/contact.png" data-lightbox="site">
                <img src="~/Images/Projects/contact.png" />
            </a>
            <a href="~/Images/Projects/admin-manage-gallery.png" data-lightbox="site">
                <img src="~/Images/Projects/admin-manage-gallery.png" />
            </a>
            <a href="~/Images/Projects/admin-manage-categories.png" data-lightbox="site">
                <img src="~/Images/Projects/admin-manage-categories.png" />
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>
    <script>
        lightbox.option({
            'fitImagesInViewport': true,
            'imageFadeDuration': 200,
            'resizeDuration': 100

        })
    </script>
}

    