.projects-wrapper {
    width: 90%;
    margin: 0 auto 40px auto;

    @include min-xlg {
        width: 60%;
    }

    h1 {
        margin: 40px 0;
    }

    .project {
        text-align: left;

        h2 {
            padding-bottom: 10px;
            border-bottom: 1px solid $text-color;
            margin-bottom: 9px;
        }

        .project-images-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            margin-top: 40px;

            @include min-xsm {
                grid-template-columns: repeat(2,1fr);
            }

            @include min-med {
                grid-template-columns: repeat(3,1fr);
            }
            /*@include min-lg {
                grid-template-columns: repeat(3,1fr);
            }*/

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
                border-radius: 10px;

                @include min-xsm {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center top;
                    border-radius: 10px;
                }
            }
        }
    }
}
