.tools-wrapper {
    margin-top: 40px;

    .intro {
        margin: 20px 0 40px 0;
    }

    h2 {
        border-bottom: 1px solid $text-color;
        padding-bottom: 10px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 50px 0;

        @include min-sm {
            grid-template-columns: repeat(3,1fr);
        }

        @include min-xlg {
            grid-template-columns: repeat(4,1fr);
        }

        .tool-div {
            /*border-radius: 99em;*/
            border: 2px solid #c4e6e2;

            p {
                margin: 15px 0;
            }
        }
    }
}
