<ul>
    <li class="home-link"><a asp-controller="Home">Home</a></li>
    <li><a asp-controller="About" asp-action="Index">About</a></li>
    <li><a asp-controller="Tools" asp-action="Index">Tools</a></li>
    <li><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
</ul>