@{
    ViewData["Title"] = "Inquiry Confirmation";
}

<div class="inquiry-confirmation-wrapper">
    <h1>Thank you!</h1>

    <p>Your inquiry was received, I will be in touch!</p>

    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

