@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Jessica Gilleran";
}


<div class="home-wrapper">
    <h1>Jessica Gilleran</h1>
    <p>An Australian-born, US-based aspiring web developer who has recently discovered a passion 
    for all things design, front-end and back-end...</p>

    <partial name="~/Views/Shared/_NavList.cshtml" />
</div>



