@{
    ViewData["Title"] = "About";
}

<div class="about-wrapper">

    <div class="image-background">
        <img src="~/Images/Jess.jpg" />
        @*<div class="image-wrapper">
            <img src="~/Images/Jess.jpg" />
            <img src="~/Images/Jess-1.jpg" />
            <img src="~/Images/Jess-2.jpg" />
            <img src="~/Images/Jess-3.jpg" />
        </div>*@
    </div>

    <div class="about-text-wrapper">
        <h1>Meet me</h1>
        
        <div class="about-text">
            <p>
                I was born and raised in Australia and moved to the US in 2014.
                I have a bachelor's degree in Chemical and Metallurgical Engineering, and worked in
                the Australian mining industry. For the past six years I have been working as a metallographer/
                materials analyst.
            </p>

            <p>
                For most of my life, I have looked enviously at those that enjoy a true passion in life.
                I enjoy working in general, but had yet to find something that would make me truly excited
                to wake up every morning. I have dabbled in coding a few times throughout my life, and it
                has always been something in the back of my mind that I knew, one day, I would come back to.
            </p>

            <p>
                That "day" came in November 2020 when I finally decided to give coding a good old-fashioned
                try. One Python course on Udemy.com later, and I was hooked. I decided to concentrate my efforts
                on web development, as the possibilites are truly unlimited. Guidance from a friend steered me towards
                the .NET Core framework, and I have been learning on that track ever since.
            </p>
        </div>
    </div>
</div>
